@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');


.heading {
  font-size: 57px;
  font-family: 'Prompt', sans-serif;
}

.load {
  text-align: center;
  font-size: 25px;
  color: gray;
}